<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1015386427129-jhi81q4njrv67gnpo9hrn9jidqn4s5jp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1015386427129-jhi81q4njrv67gnpo9hrn9jidqn4s5jp</string>
	<key>API_KEY</key>
	<string>AIzaSyBvZ2tJk5g5U3oXayOmd5AxYMOIJZY_oBo</string>
	<key>GCM_SENDER_ID</key>
	<string>1015386427129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fcmovies.app</string>
	<key>PROJECT_ID</key>
	<string>fcmovies-713ca</string>
	<key>STORAGE_BUCKET</key>
	<string>fcmovies-713ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1015386427129:ios:559db75f4c488478511c28</string>
</dict>
</plist>